body{
    background-color: beige;
    margin: 25px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.completedButton, .deleteButton{
    height: 15px;
    width: 15px;
}

table{
    border-collapse: collapse;
    margin-top: 25px;
    padding: 10px;
    width: 90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    
  }
  .green{
      background-color: rgb(219, 250, 215);
  }