body{
    background-color: rgb(63, 63, 66);
    color: rgb(230, 225, 231);
    margin: 25px;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 25px;
 
  
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }